{{#theme}}bootstrap{{/theme}}
{{#template}}normal{{/template}}
<h1>Parece que no hay vista</h1>

Puedes consulatar los docs de como hacer plugins aqui: <a href="https://gitlab.com/dunpmusic/framework/tree/master/plugins">https://gitlab.com/dunpmusic/framework/tree/master/plugins</a>

<h3>Alguna info de Depuración</h3>
<pre>
Pagename = {{view.getPageName}}
BaseDir = {{view.getBaseDir}}
Theme = {{view.getTheme}}
Template = {{view.getTemplate}}

</pre>
