{{#theme}}bootstrap{{/theme}}
{{#template}}normal{{/template}}
<h1>Parece que no hay controlador</h1>

Puedes consulatar los docs de como hacer plugins aqui: <a href="https://gitlab.com/dunpmusic/framework/tree/master/plugins">https://gitlab.com/dunpmusic/framework/tree/master/plugins</a>

