
{{#theme}}bootstrap{{/theme}}
{{#template}}normal{{/template}}
{{! Aditional styles }}
{{! Aditional scripts ([ame].js is allways included!) }}
{{#title}}Setup - Dunp{{/title}}

        <script>
            $(document).ready(function()
            {
                function update()
                {
                    return function()
                    {
                        $(".result.path").val($("[name='dcu']").val() + $("[name='rand']").val())
                    }
                }
                $("input[name='rand']").on('keyup', update());
                $("input[name='dcu']").on('keyup', update());
            })
        </script>

{{#configured}}
<h1>Site already configured</h1>
<p>It seems that all configurations are ready to use.</p>
{{/configured}}
{{^configured}}
    {{#step.1}}
    <form action="/setup/1" method="POST">

        <h3>Config File:</h3>
        <input value="{{config_file}}" name="config" class="form-control" disabled="" />
        {{#config_error}}
        <span class="alert alert-danger">{{.}}</span><br>
        {{/config_error}}


        <h3>Data&Cache&Upload Folder</h3>

        <div class="row">
            <div class="col-md-2">
                <label>Directory Suffix:</label>
                <input name="rand" value="{{rand}}" class="form-control">
            </div>
            <div class="col-md-10">
                <label>Path:</label>
                <input value="{{dcu_folder}}" name="dcu" class="form-control" />
            </div>
            <div class="col-md-12">
                <label>Result Path:</label>
                <input value="{{dcu_folder}}{{rand}}" class="form-control result path" />
            </div>
        </div>
        {{#dcu_error}}
        <span class="label label-danger">{{.}}</span><br>
        {{/dcu_error}}
        <br>
        {{#error}}
        <label>Command line helper</label>
        <pre class="text-left">{{#config_error}}touch {{config_file}}
{{/config_error}}{{#config_error}}chown {{user.name}} {{config_file}}
{{/config_error}}{{#dcu_error}}chown {{user.name}} {{dcu_folder}}{{rand}}{{/dcu_error}}</pre>
        <br>
        {{/error}}
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
    {{/step.1}}

    {{#step.2}}

    {{#error}}
    <div class="alert alert-danger">{{.}}</div>
    <br>
    {{/error}}
    <form action="/setup/2" method="POST" class="text-left">
        <fieldset>
            <legend>Database Configuration</legend>
            <div class="row">
                <div class="col-md-3">
                    <label>Hostname</label>
                    <input value="{{dbhost}}" name="dbhost" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label>Database Name</label>
                    <input value="{{dbname}}" name="dbname" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label>Username</label>
                    <input value="{{dbuser}}" name="dbuser" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label>Password</label>
                    <input value="{{dbpass}}" name="dbpass" class="form-control" type="password" {{#config_pass}}placeholder="(Without changes)"{{/config_pass}} />
                </div>

                <div class="col-md-3">
                    <label>Port (Optional)</label>
                    <input value="{{dbport}}" name="dbport" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label>Socket (Optional)</label>
                    <input value="{{dbsocket}}" name="dbsocket" class="form-control" />
                </div>
            </div>
        </fieldset>



        <fieldset>
            <legend>Memcache Configuration</legend>
            <div class="row">
                <div class="col-md-3">
                    <label>Hostname</label>
                    <input value="{{memserver}}" name="memserver" class="form-control" placeholder="localhost" />
                </div>
                <div class="col-md-3">
                    <label>Port</label>
                    <input value="{{memport}}" name="memport" class="form-control" placeholder="11211" />
                </div>
            </div>
        </fieldset>
        <br>
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>

    {{/step.2}}

    {{#step.3}}
        <form action="/setup/3" method="POST" class="text-left">

            <div class="row">
                <div class="col-md-4 well col-md-offset-4">
            <h3>Account creation</h3>
            {{#create_account}}
                    <label>Username</label>
                    <input value="" name="username" class="form-control" placeholder="" />
                    <label>Password</label>
                    <input value="" name="password1" type="password" class="form-control" placeholder="" />
                    <label>Repeat password</label>
                    <input value="" name="password2" type="password" class="form-control" placeholder="" />
            {{/create_account}}
            {{^create_account}}
            There is one or more admin accounts
            {{/create_account}}

            <br>
            <input type="submit" value="Finish framework configuration" name="save" class="btn btn-success" />
                </div>
            </div>


        </form>
    {{/step.3}}

    <a href="/setup/ignore">Ignore Configuring</a>

{{/configured}}