
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>{{title}}</title>

        <!-- Bootstrap core CSS -->
        {{#style}}/css/bootstrap/bootstrap.css{{/style}}

        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js" class="ignore"></script>
        <script src="/js/bootstrap.js"></script>

        {{#styles}}
        <link rel="stylesheet" type="text/css" href="{{.}}">
        {{/styles}}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="/">Home</a></li>
                        <li role="presentation"><a href="https://gitlab.com/dunpmusic/framework">About</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Dunpmusic Framework</h3>
            </div>

            <h1>{{title}}</h1>
{{#errors}}
            <div class="alert alert-danger">
                <b>{{message}}</b> <div class="pull-right label label-info">{{where.file | basename}}:{{where.line}}</div>
            </div>
{{/errors}}
            <div class="row marketing">
                <div class="col-lg-12">
                    {{&content}}
                </div>
            </div>

            <footer class="footer">

                <p>&copy; Company {{ timer | date.year }}</p>
            </footer>

        </div> <!-- /container -->


        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


        {{#scripts}}
        <script type="text/javascript" src="{{.}}"></script>
        {{/scripts}}
    </body>
</html>
