{{#title}}hello{{/title}}
{{#template}}normal{{/template}}
{{#theme}}bootstrap{{/theme}}

Hello
{{#parameters.1}}
<pre>{{.}}</pre>
{{/parameters.1}}
{{^parameters.1}}
  <a href="index/testparameter1">Test parameters</a>
{{/parameters.1}}