

{{#script}}js/libs/jquery/jquery-ui.min.js{{/script}}
{{#script}}js/libs/jquery/jquery.fileupload.js{{/script}}
{{#script}}js/libs/jquery/jquery.ba-hashchange.min.js{{/script}}
{{#script}}js/libs/jquery/jquery.ui.autocomplete.html.js{{/script}}
{{#script}}js/libs/jquery/jquery.jplayer.min.js{{/script}}
{{#script}}js/libs/jquery/jquery.noty.min.js{{/script}}
{{#script}}js/libs/jquery/jquery.flipster.min.js{{/script}}
{{#script}}js/libs/sprintf/sprintf.js{{/script}}
{{#script}}js/libs/jquery/typeahead.jquery.js{{/script}}
{{#script}}js/libs/mustache/mustache.js{{/script}}
{{#script}}js/libs/bootstrap/bootstrap.js{{/script}}
{{#script}}js/libs/bootstrap/typeahead.bundle.js{{/script}}
{{#script}}js/libs/bootstrap/bootstrap-tour.min.js{{/script}}
{{#script}}js/libs/angular/angular.min.js{{/script}}
{{#script}}js/libs/tagsinput/bootstrap-tagsinput.js{{/script}}
{{#script}}js/libs/tagsinput/bootstrap-tagsinput-angular.js{{/script}}
{{#script}}js/libs/bootbox/bootbox.min.js{{/script}}
{{#script}}js/libs/moment/moment.min.js{{/script}}
{{#script}}js/api.js{{/script}}
{{#script}}js/api-config.js{{/script}}
{{#script}}js/templator.js{{/script}}
{{#script}}js/tracks.js{{/script}}
{{#script}}js/board.js{{/script}}
{{#script}}js/resume.js{{/script}}
{{#script}}js/waveform.js{{/script}}
{{#script}}js/navigation.js{{/script}}
{{#script}}js/image-hook.js{{/script}}
{{#script}}js/mobile.js{{/script}}
{{#script}}js/comments.js{{/script}}
{{#script}}js/lists.js{{/script}}
{{#script}}js/explorer.js{{/script}}
{{#script}}js/changelog.js{{/script}}
{{#script}}js/users.js{{/script}}
{{#script}}js/users.js{{/script}}
{{#script}}js/tour.js{{/script}}
{{#script}}js/libmp3lame.min.js{{/script}}
{{#script}}js/textlimit.js{{/script}}

{{#static}}js/libs/jquery/jquery.js{{/static}}
{{#static}}js/libs/jquery/jquery.md5.js{{/static}}
{{#static}}js/dyn.js{{/static}}
{{#static}}js/cookies.js{{/static}}
{{#static}}js/libs/push/WebSocketPush.js{{/static}}
{{#static}}js/player.js{{/static}}
{{#static}}js/upload.js{{/static}}
{{#static}}js/wspush.js{{/static}}
{{#static}}js/lang.js{{/static}}
{{#static}}js/app.js{{/static}}

<script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>
{{#statics}}
<script type="text/javascript" src="/{{.}}" class="ignore"></script>
{{/statics}}

{{&lang_js}}
{{&app}}
{{#scripts}}
<script type="text/javascript" src="/{{.}}"></script>
{{/scripts}}

<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice = window.UserVoice || [];
(function () {
    var uv = document.createElement('script');
    uv.type = 'text/javascript';
    uv.async = true;
    uv.src = '//widget.uservoice.com/sLsRMYbLRRYcTVwTW6TpcQ.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(uv, s)
})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
        accent_color: '#448dd6',
        trigger_color: 'white',
        trigger_background_color: '#448dd6'
    }]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
        //email:      'john.doe@example.com', // User’s email address
        //name:       'John Doe', // User’s real name
        //created_at: 1364406966, // Unix timestamp for the date the user signed up
        //id:         123, // Optional: Unique id of the user (if set, this should not change)
        //type:       'Owner', // Optional: segment your users by type
        //account: {
        //  id:           123, // Optional: associate multiple users with a single account
        //  name:         'Acme, Co.', // Account name
        //  created_at:   1364406966, // Unix timestamp for the date the account was created
        //  monthly_rate: 9.99, // Decimal; monthly rate of the account
        //  ltv:          1495.00, // Decimal; lifetime value of the account
        //  plan:         'Enhanced' // Plan name for the account
        //}
    }]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right'}]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55336012-1', 'auto');
    ga('send', 'pageview');

</script>
<div id="jplayer" ></div>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
< ![endif]-->

