{{% FILTERS }}
<div class="">
    <section class="footer">
        <p>
            <a href="/index">Dunp</a> - <a href="/principios">{{tr.FOOTER_TERMS}}</a>
            - <a href="http://dunp-project.blogspot.com.es/" data-ajax="false">Blog</a>
            - <a href="/contact">{{tr.FOOTER_CONTACT}}</a>
        </p>
        <p>
            Dunp &copy; Copyright {{#eval}}return date("Y");{{/eval}}
        </p>
    </section>
</div>
<div class="dropdown dropup">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        {{tr.LANGUAGE}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {{#tr.LANGUAGES}}
        
        <li role="presentation"><a role="menuitem" tabindex="-1" data-ajax="false" href="?set_language={{id}}"> {{name}}</a></li>

        {{/tr.LANGUAGES}}
        
    </ul>
</div>