

<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css">
{% for css in styles %}
<link rel="stylesheet" type="text/css" href="{{ asset(css) }}">
{% endfor%}


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js" class="ignore"></script>
<script src="/js/bootstrap.js"></script>
<script src="{{ asset('controller/' ~ view.controller.pagename ~ '.js') }}"></script>
<script>
    eval(atob('{{app|base64encode|raw}}'));
    eval(atob('{{lang|base64encode|raw}}'));
</script>

{% for js in scripts %}
<script src="{{ js }}"></script>
{% endfor%}