

        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        
        {{#style}}/font-awesome/css/font-awesome.min.css{{/style}}
        {{#style}}/css/jquery.fileupload.css{{/style}}
        {{#style}}/css/jquery.tagit.css{{/style}}
        {{#style}}/css/jquery.flipster.min.css{{/style}}
        {{#style}}/css/bootstrap-tagsinput.css{{/style}}
        {{#style}}/css/reset.css{{/style}}
        {{#style}}/css/bootstrap/bootstrap.css{{/style}}
        {{#style}}/css/bootstrap-tour.min.css{{/style}}
        {{#style}}/css/dunp.css{{/style}}
        {{#style}}/css/dunp-font.css{{/style}}


        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">-->

        <link rel="stylesheet" class="ignore" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">   

        <div class="overlay-tour" style="display: none;"></div>

        <div class="container" id="warning-message" style="top: 52px; position: fixed; margin-top: 15px; width: 100%; display: none; ">
            <div class="alert alert-warning" style="width: 50%; margin: 0 auto;">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span class="text"></span>
            </div>

        </div>
        
        {{#styles}}
        <link rel="stylesheet" type="text/css" href="/{{.}}">
        {{/styles}}
        {{#eval}}
        //Eval PHP code.
        (include 'tpl/include.php');
        return get_templates(array(get_templates_current_dir(), "{{relative}}/tpl"));
        {{/eval}}
        
        