<header class="fixed-bar">
    <div class="center-nav">
        <div class="center">
            <div class="logo center ">
                <a {{#active}}/index{{/active}} >
                    <p class="text-inverse">
                        <span class="text">dunp</span><span class="icon icon-dunpmusic"></span><span class="text">music</span>
                    </p>
                </a>
            </div> 
        </div>
    </div>
    <div class="content-bar">
        <div class="src-only">
            <button class="btn btn-default menu">
                <span class="icon-menu"></span></button>
        </div>
        <div class="nav nav-left">
            <ul>

                <li><a id="stream-bar" {{#active}}/stream{{/active}}  data-toggle="tooltip" title="{{tr.NAV_HOME}}" data-placement="bottom" ><span class="icon icon-home-2"></span></a></li>
                <li><a id="explorer-bar" {{#active}}/explorer{{/active}} data-toggle="tooltip" title="{{tr.NAV_EXPLORE}}" data-placement="bottom" ><span class="icon icon-globe-4"></span></a></li>
                <li><a id="notifications-bar" {{#active}}/notifications{{/active}} data-toggle="tooltip" title="{{tr.NAV_NOTIFICATIONS}}" data-placement="bottom" >
                        <span class="icon icon-attention-4"></span>
                        <!-- Este botón saldría cuando hay alguna notificación -->
                        <span class="src-only">Notificaciones </span>
                        <div class="notification-number"></div>
                    </a>
                </li>
            </ul>
        </div>
        <form id="input">
            <div class="search-box">
                <input class="input-search twitter-typeahead" type="text" placeholder="{{tr.NAV_SEARCH}}"/>
                
                <input type="submit" style="display: none;"/>
            </div>
        </form>

        <div class="nav nav-right">
            <ul id="navigation">
                <li data-toggle="tooltip" title="{{tr.NAV_UPLOAD}}" data-placement="bottom">
                    <a id="upload-nav" class="upload">
                        <span class="icon icon-upload-cloud"></span>
                        <div class="progress-container">
                            <div class="progress-line"></div>
                        </div>
                        <button class="btn btn-primary btn-complete">{{tr.NAV_FINISH_UPLOAD}}</button>
                    </a>
                </li>
                <li> 
                    <div class="slider-helper hidden">

                    </div>
                    <div class="create-tour"></div>
                    <a class="create" data-toggle="tooltip" title="{{tr.NAV_SLIDER}}" data-placement="bottom" >
                        <span class="icon icon-note-beamed"></span> 
                    </a>
                            
                </li>
                <li><a {{#active}}/messages", "messages{{/active}} data-toggle="tooltip" title="{{tr.NAV_MESSAGES}}" data-placement="bottom" >
                        <span class="icon icon-mail"></span>
                        <div class="badge message-number"></div>
                    </a></li>
                <li class="has-sub"> 
                    <a href="/profile"><img class="profile" src="/img/icoAvatar.png"/></a> 
                    <ul>
                        <li><a {{#active}}/profile{{/active}}><span class="fa fa-user"></span> {{tr.NAV_PROFILE}}</a></li>
                        <li><a {{#active}}/messages{{/active}}><span class="fa fa-envelope"></span> {{tr.NAV_INBOX}}</a></li>
                        <li><a {{#active}}/settings{{/active}}><span class="fa fa-cog"></span> {{tr.NAV_SETTINGS}}</a></li>
                        <li class="separator"></li>
                        <li class="last logout"><a href="?action=do_logout" data-ajax="false"><span class="fa fa-power-off"></span> {{tr.NAV_LOGOUT}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="progress-nav"><div class="head"></div></div>




    <div class="drag-here" style="display: none;">
        <div class="here">
            <span class="icon-anchor"></span> Drag Here To upload music
        </div>

    </div>


</header>
<div class="media-player-container">
    <div class="player-track-avatar hidden">
        <img class="player-track-avatar-src" src="/img/icoAvatar.png">
    </div>
    <div class="player-semi-preview" style="display: none;">

    </div>
    <div class="media-player">
        <div class="media-controller text-inverse">
            <div class="song-controls">
                <a class="media-player-backward"><span class="fa fa-backward" ></span></a> 
                <a><span class="fa fa-play  media-player-play-pause" ></span></a> 
                <a class="media-player-forward"><span class="fa fa-forward " ></span></a>
            </div>
            <div class="song-title">
                {{tr.PLAYER_NOTRACK}}
            </div>
            <div class="pull-left">
                <a href="#" class="volume-control"><span class="fa fa-volume-up"> </span></a>
                <div class="volume">
                    <input type="range" class="vertical" value="100" />
                </div>
            </div>
            <div class="song-seekbar">
                <div class="container-player">
                    <div class="progress-player">
                    </div>
                    <div class="progress-player-mouse">
                    </div>
                </div>
            </div>
            <div class="media-player-current-time hidden">
            </div>
            <div>
                <a class="media-player-fullscreen"><span class="fa fa-expand " ></span></a>
            </div>
        </div>
    </div>
</div>
<div class="full-player" style="display: none;">
    <div class="navigation">
        <ul>
            <li><a href="#" data-navigation="navigation-player" class="active">{{tr.NAVIGATION_PLAYER_PLAYER}}</a></li>
            <li><a href="#" data-navigation="navigation-player">{{tr.NAVIGATION_PLAYER_HISTORIC}}</a></li>
            <li><a href="#" data-navigation="navigation-player">{{tr.NAVIGATION_PLAYER_PUBLIC}}</a></li>
            <li><a href="#" data-navigation="navigation-player">{{tr.NAVIGATION_PLAYER_MOST_LISTEN}}</a></li>
            <li><a href="#" data-navigation="navigation-player">{{tr.NAVIGATION_PLAYER_SETTINGS}}</a></li>
        </ul>
    </div>
    <div class="left-navigation">

        <div class="top-slider">

            <div class="slide-track-title">

            </div>
            <div class="slide-nav">
                <div class="total"></div>
                <div class="current"></div>
            </div>
            <div class="flipster">
                <ul>
                    <!--<li><img src="http://localhost:8080/api/media/umppzoo24kh8xls2es1v8kbe6ond3ahn5f0t5gny6mlu5irsig2vjylecqthtwg9-c86c16f95a759fc5ee979e6f651063ab-ff7d88a0ace6ca02f22a435be20fa0df/raw"></li><li><img src="/img/comparator.png"></li><li><img src="/img/comparator.png"></li>-->

                </ul>
            </div>

            <a class="pull-right media-player-fullscreen"><span class="fa fa-times"></span></a>
        </div>

        <div class="navigation-items">

            <div id="navigation-player">

                <div class="image">
                    <img class="player-track-avatar-src" />
                </div>
                <div class="right">
                    <div class="title">

                        <span class=" song-title text-inverse ellipsize">
                            <!--Parece que no has reproducido nada durante esta sesión.-->
                        </span>
                    </div>
                    <div class="visualizer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Modal to upload  sounds-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="uploadModalLabel">{{tr.UPLOAD_MODAL_TITLE}}</h4>
            </div>
            <div class="modal-body">
                <p>{{tr.UPLOAD_MODAL_MESSAGE}}</p>
                <div class="text-center">
                    <a href="/upload#select" data-dismiss="modal" class="btn btn-primary btn-lg" style="width: 200px;">{{tr.UPLOAD_MODAL_BUTTON1}}</a>

                    <a href="/record" data-dismiss="modal" class="btn btn-danger btn-lg"  style="width: 200px;">{{tr.UPLOAD_MODAL_BUTTON2}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{tr.GROUP_MODAL_TITLE}}Crear nuevo grupo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <img class="full-width media group-create-photo" src="/img/group_blue.png" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>{{tr.GROUP_MODAL_INPUT_GROUP_NAME}}</label>
                            <input value="" class="form-control group-name" placeholder="{{tr.GROUP_MODAL_INPUT_GROUP_NAME_PLACEHOLDER}}" />
                        </div>
                        <div class="form-group">
                            <label>{{tr.GROUP_MODAL_INPUT_GROUP_TEMATIC}}</label>
                            <input value="" class="form-control group-topic" placeholder="{{tr.GROUP_MODAL_INPUT_GROUP_TEMATIC_PLACEHOLDER}}" />
                        </div>

                        <br>

                        <div class="form-group">

                            {{tr.GROUP_MODAL_INPUT_VISIVILITY}}
                            <label><input class="group-type" type="radio" name="type" value="1"/> {{tr.GROUP_MODAL_INPUT_VISIVILITY_PUBLIC}}</label>
                            <label><input class="group-type" type="radio" name="type" value="0" /> {{tr.GROUP_MODAL_INPUT_VISIVILITY_PRIVATE}}</label>
                        </div>

                    </div>
                </div>
                <textarea class="form-control message group-description" rows="7" placeholder="{{tr.GROUP_MODAL_INPUT_DESCRIPTION}}"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{tr.BUTTON_CANCEL}}</button>
                <button type="submit" class="btn btn-success addGroup">{{tr.BUTTON_CREATE}}</button>
            </div>
        </div>
    </div>
</div>
<div class="loading-div"  style="display: none;">
    <div class="content text-inverse">

        Loading...
    </div>

</div>
<div id="cookies-warning">
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <p>{{tr.COOKIES_WARNING}}</p>

            </div>
            <div class="col-sm-1">
                <a id="btnCookieAccept" class="btn btn-default btn-xs" onclick="onAcceptCookies()">{{tr.COOKIES_AGREE}}</a>

            </div>
        </div>
    </div>
</div>
<!-- Modal to send a message -->
<div class="modal fade" id="messages-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{tr.MESSAGE_MODAL_TITLE}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">
                        {{tr.MESSAGE_MODAL_INPUT_TO}}
                    </div>
                    <div class="col-md-11">
                        <input value="" class="form-control message-to" placeholder="{{tr.MESSAGE_MODAL_INPUT_TO_PLACEHOLDER}}"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        {{tr.MESSAGE_MODAL_INPUT_SUBJECT}}
                    </div>
                    <div class="col-md-10">
                        <input value="" class="form-control message-issue">
                    </div>
                </div>
                <br>
                <textarea class="form-control message" rows="15" placeholder="{{tr.MESSAGE_MODAL_INPUT_CONTENT_PLACEHOLDER}}"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{tr.MESSAGE_MODAL_BUTTON_DISCARD}}</button>
                <button type="button" class="btn btn-warning save">{{tr.MESSAGE_MODAL_BUTTON_DRAFT}}</button>
                <button type="button" class="btn btn-primary send">{{tr.BUTTON_SEND}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for share media-->
<div class="modal fade" id="shareMediaModal" tabindex="-1" role="dialog"  aria-labelledby="shareMediaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="shareMediaLabel">Compartir en otras redes</h4>
            </div>
            <div class="modal-body" style="min-height: 300px">


            </div>
        </div>
    </div>
</div>