<section class="profile">
    <div class="loading"><img src="/img/loading.gif"></div>
</section>
<div class="tabs-container resume-left">
    <div class="tabs">
        <ul>
            <li class="active"><a class="tab-button"  data-tab="resume-tracks" title="Pistas"><span class="fa fa-music"></span> </a></li>
            <li><a class="tab-button" data-tab="resume-comments" title="Comentarios"><span class="fa fa-comments"></span> </a></li>
            <li><a class="tab-button" data-tab="resume-groups" title="Grupos"><span class="fa fa-users"></span> </a></li>
        </ul>

        <div class="clear"></div>
        <section class="tab-wrapper">
            <div id="resume-tracks" class="tab">
                <h3> {{tr.PROFILE_TRACKS}}</h3>

                <div class="json">
                    <div class="loading"><img src="/img/loading.gif"></div>
                </div>
            </div>
            <div id="resume-comments" class="tab" style="display: none;">
                <h3> {{tr.COMMENTS}}</h3>
                <div class="json">
                    <div class="loading"><img src="/img/loading.gif"></div>
                </div>
            </div>
            <div id="resume-groups" class="tab" style="display: none;">
                <h3> {{tr.GROUPS}} <small class="pull-right"><a class="btn btn-primary btn-xs showCreateGroup" data-toggle="modal"  data-target="#addGroup" href="!"><span class="fa fa-plus"></span></a></small> </h3>

                <ul class="json">
                    <div class="loading"><img src="/img/loading.gif"></div>
                </ul>
                <div class="clear"></div>
            </div>
        </section>
    </div>
</div>
<section class="statistics" style="display: none;">
    <h3>Tus estadisticas</h3>

    <div class="text-center">Reproducciones hoy <h1 class="text-muted"><span class="fa fa-play"></span> 19</h1></div>
    <div class="text-center"><span class="fa fa-bar-chart-o"></span> <a href="#">Ver mas</a></div>
    <!--    <div class="loading"><img src="img/loading.gif"></div>-->

    <h3>Espacio en Dunp</h3>
    <div style="margin: 0 auto;">

        <div id="piechart" style="width: 100%;"></div>

    </div>

    <a href="#"><span class="fa fa-"></span> Conseguir más espacio</a>

</section>
